@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* themes */

.light-theme {
    --color--primary: #fff;
    --color--secondary: #121212;
}
.dark-theme {
    --color--primary: #121212;
    --color--secondary: #fff;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
}
body {
    background-color: var(--color--primary);
}
.main {
    height: 100vh;
    padding: 0 5rem;
}

.song {
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 1.8rem;
}

.song-img {
    object-fit: cover;
    width: 100%;
}
.song-info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: var(--color--secondary);
    transform: translateY(100%);
    transition: all 0.3s linear;
    opacity: 0.8;
    align-items: center;
}
.song:hover .song-info {
    transform: translateY(0);
}
.songs {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 5rem 1rem;
    justify-content: center;
    align-content: center;
}
.song-lyrics {
    cursor: pointer;
    margin-right: 2rem;
}
.form {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input {
    padding: 0.1rem;
    border: none;
    color: var(--color--secondary);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    background-color: transparent;
    width: 100%;
}
input::placeholder {
    color: var(--color--secondary);
    font-weight: normal;
}
input:focus {
    outline: none;
}
.search {
    width: 15 rem;
    border-bottom: 3px solid var(--color--secondary);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* buttons */
.btn {
    padding: 0.1rem;
}
.btn-search {
    border: none;
    background-color: transparent;
    color: var(--color--secondary);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

h6 {
    color: var(--color--primary);
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
p {
    color: var(--color--primary);
    letter-spacing: 0.1rem;
    word-break: break-all;
}

.icon {
    background: transparent;
    color: var(--color--primary);
    font-size: 2rem;
    border-radius: 30%;
}
.icon:hover {
    border: 2px solid var(--color--primary);
}
.toggle {
    height: 2rem;
    margin-left: 1rem;
}
.alert {
    text-align: center;
    color: var(--color--secondary);
    color: red;
    margin-top: 0.2rem;
}
.alert h4 {
    margin-right: 12rem;
}
.alert-primary {
    color: red;
}
.alert-secondary {
    color: green;
}

/* media query */

@media only screen and (max-width: 450px) {
    .song {
        margin: 0 auto;
        width: 200px;
        height: 200px;
    }

    ::placeholder {
        font-size: 0.8rem;
    }
    .toggle {
        height: 1.5rem;
    }
    .search {
        width: 8rem;
    }
    .btn {
        width: 1.2rem;
    }
    .alert h4 {
        margin-left: 2rem;
    }
}
@media only screen and (max-width: 400px) {
    .alert h4 {
        margin-left: 1.5rem;
    }
}
